:host {
    height: 200px;
}

.keyboard {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    margin: 8px auto 8px;
    touch-action: manipulation;
}

.spacer-half {
    flex: 0.5;
}

.spacer-one-and-half {
    flex: 1.5;
}
