<div>
    @for (int i = 0; i < BoxCount; ++i) {
        string id = GetID(i);

        WordInputBox boxModel = this[i];
        <input id="@id" @ref="boxModel.ElementReference"
               type="text" maxlength="1" size="1" style="text-align: center;"
               @bind="boxModel.Letter"
               @onkeydown="@(args => { boxModel.OnKeyDown(args); })" @onkeydown:preventDefault=true />
    }
</div>

@code {
}
